@font-face {
   font-family: 'dmsb';
   src: url('../fonts/dmsb.woff2') format('wofft2'),
        url('../fonts/dmsb.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'pb';
   src: url('../fonts/pb.woff2') format('wofft2'),
        url('../fonts/pb.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}



// ///////////////////////////////////////////////////////////

@font-face {
   font-family: 'dmsm';
   src: url('../fonts/dmsm.woff2') format('wofft2'),
        url('../fonts/dmsm.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}


@font-face {
    font-family: 'heebom';
    src: url('../fonts/heebom.woff2') format('wofft2'),
         url('../fonts/heebom.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
 }

// ////////////////////////////////////////////

@font-face {
   font-family: 'dmsr';
   src: url('../fonts/dmsr.woff2') format('wofft2'),
        url('../fonts/dmsr.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

