.thirdblock {
    width: 100%;
    min-height: 1200px;
    background-color: #264a8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 10%;
    gap: 50px;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // overflow: hidden;
        z-index: 1; /* Убедитесь, что фон ниже */
        pointer-events: none; /* Фон некликабельный */

        &__circle1 {
            position: absolute;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.05);
            z-index: -1; /* Круги ниже контента */
            border-radius: 300px 300px 300px 0px;
            width: 526px;
            height: 684px;
            top: -35%;
            left: 16.6%;
        }

        &__circle2 {
            position: absolute;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.05);
            z-index: -1; /* Круги ниже контента */
            border-radius: 300px 300px 300px 0px;
            width: 550px;
            height: 978px;
            transform: rotate(180.00deg);
            top: 22%;
            left: -12.3%;
        }

        &__circle3 {
            position: absolute;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.05);
            z-index: -1; /* Круги ниже контента */
            border-radius: 300px 300px 300px 0px;
            width: 526px;
            height: 690px;
            top: 10%;
            left: 90.1%;
        }
        &__circle4 {
            position: absolute;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.05);
            z-index: -1; /* Круги ниже контента */
            border-radius: 300px 300px 300px 0px;
            width: 526px;
            height: 526px;
            top: 67.3%;
            left: 62.5%;
            transform: rotate(180.00deg);
        }


    }




    &__titleblock {
        max-width: 510px;
        min-height: 124px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        text-align: center;
        z-index: 2;


        &__span {
            font-size: 1.4rem;
            font-family: 'dmsb';
            letter-spacing: 2.1px;
            text-transform: uppercase;
            color: white;
            opacity: 0.7;
        }

        &__title {
            font-size: 3.6rem;
            font-family: 'dmsb';
            letter-spacing: -1.5px;
            color: white;
        }

    }

    &__main {
        max-width: 1400px;
        min-height: 400px;
        // background-color: red;
        // border: 1px solid black;
        display: flex;
        align-items: center;
        gap: 60px;
        padding-top: 7%;
        position: relative;
        z-index: 2;




        &__el {
            max-width: 283px;
            min-height: 294px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            position: relative;


            &__span {
                max-width: 72px;
                min-height: 72px;
                background: rgb(255, 255, 255);
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'dmsm';
                font-size: 3rem;
                color: rgb(34, 67, 125);
            }

            &__title {
                font-size: 2.2rem;
                font-family: 'dmsb';
                color: white;
                line-height: 155%;

            }

            &__text {
                font-size: 1.5rem;
                font-family: 'dmsr';
                color: white;
                opacity: 0.65;
                line-height: 26px;
            }

            & svg {
                opacity: 0.2;
                position: absolute;
                left: 40%;
            }

            &__bottom {
                top: 6%;
            }

            
        }

    }

}


@media only screen and (max-width: 760px) {

    .thirdblock {

        padding-top: 50px;

        &__titleblock {
            
            &__span {
                font-size: 1.2rem;
            }

            &__title {
                font-size: 3rem;
            }

        }

        &__main {
            flex-direction: column;
            gap: 250px;


            &__el {
                align-items: center;

                &__span {
                    min-width: 72px;
                }

                & svg {
                    left: 20%;
                    top: 122%;
                    rotate: 90deg;
                }

                &__bottom {
                    left: 8% !important;
                }

            }

        }

    }

}